.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-brand-secondary);
    border-top: 1px solid  var(--color-background-primary);
    padding: var(--spacing-15);
   h3 {
    font-size: var(--font-size-2xl);
    color: var(--color-text-white);
    font-weight: var(--font-weight-medium);
    text-align: center;
    padding: var(--spacing-15) 0;
    @media screen and (max-width: 770px) {
     font-size: var(--font-size-lg);
    }
   } 
}