.banner {
    background-color: var(--color-brand-primary);
    border-top: 1px solid  var(--color-background-secondary);
    padding: var(--spacing-15);
   h3 {
    font-size: var(--font-size-2xl);
   } 
}