.copyright {
    background-color: var(--color-brand-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-30) 0;
    text-align: center;
    p {
        font-size: var(--font-size-sm);
        color: var(--color-text-white);
    }
}