.footer {
  background-color: var(--color-brand-third);
  padding: var(--spacing-80) var(--spacing-60);
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1.5fr;
  gap: var(--spacing-60);
  border-top: 1px solid var(--color-background-primary);

  h3 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
    margin: 0 0 var(--spacing-25) 0;
    color: var(--color-text-primary);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  li {
    margin: 0 0 var(--spacing-20) 0;
  }

  a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: --font-size-base;
    font-weight: var(--font-weight-medium);
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-text-secondary);
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 50%;
    gap: var(--spacing-40);
  }

  @media (max-width: 640px) {
    gap: var(--spacing-15);
    padding: var(--spacing-40) var(--spacing-20);
    grid-column-gap: 0;
  }
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
  margin: 0 2vw 0 8vw;

  img {
    width: 40px;
    height: 50px;
    object-fit: contain;
  }

  p {
    font-size: var(--font-size-base);
    line-height: 1.6;
    color: var(--color-text-primary);
    max-width: 380px;
  }
  @media screen and (max-width: 1024px) {
    grid-column: span 2;
    margin: 0 2vw 0 0;
  }

  @media screen and (max-width: 770px) {
    margin: 0 0 2rem 0;
  }
}

.footerSection {
  display: flex;
  flex-direction: column;
}

.contact {
  @media screen and (max-width: 770px) {
    grid-column: span 2;
  }
}

:has([data-footer="noBorder"]) .footer {
  border-top: none;
}
