// Target header when home page exists
:has([data-page="home"]) .header {
  background: linear-gradient(
    to right,
    var(--color-background-blue) 0%,
    var(--color-background-blue) 36%,
    var(--color-brand-primary) 36%,
    var(--color-brand-primary) 100%
  );
}

// Target header with plain colour, no Profile Pic
:has([data-page="plain"]) .header {
  background: var(--color-brand-primary);
}

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-20) 10vw var(--spacing-40) 14vw;

  @media screen and (max-width: 770px) {
    padding: var(--spacing-30) var(--spacing-20);
  }
}

.deskLogo {
  display: block;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.mobLogo {
  display: block;
  @media screen and (min-width: 801px) {
    display: none;
  }
}
