.homeButtons {
    background-color: var(--color-background-blue);
}

.homeButton {
    background-color: var(--color-brand-primary);
    color: var(--color-text-white);
    padding: var(--spacing-15) var(--spacing-30);
    border-radius: 8px;
}