.sliderContainer {
  max-width: 100%;
  padding: var(--spacing-80) var(--spacing-60);
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 770px) {
    padding: var(--spacing-80) 0;
  }
}
