.home {

}

.homeContainer {
  display: flex;
  
  .buttonContainer {
    flex: 0 0 36%; // flex-grow: 0, flex-shrink: 0, flex-basis: 36%
    background-color: var(--color-background-blue);
  }
  
  .carouselContainer {
    flex: 1;
    background-color: var(--color-brand-primary);
  }
  @media screen and (max-width: 770px) {
    flex-direction: column;
  }
}