.carouselWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.carouselContainer {
  width: 100%;
  overflow: hidden;
}

:has([data-row="top"]) .carouselContainer {
  padding-top: var(--spacing-80);
}

:has([data-row="bottom"]) .carouselContainer {
  padding-bottom: var(--spacing-80);
}

.carouselTrack {
  display: flex;
  gap: var(--spacing-15);
  padding: 7.5px var(--spacing-40);
  will-change: transform;

  &[data-direction="left"] {
    animation: scrollLeft 7s linear infinite;
  }

  &[data-direction="right"] {
    animation: scrollRight 7s linear infinite;
  }

  @media screen and (max-width: 770px) {
    padding: 7.5px 0;
  }
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.333%); // Move by 1/3 since we have 3 copies
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-33.333%);
  }
  to {
    transform: translateX(0);
  }
}

.slide {
  flex-shrink: 0;
  width: 388px;
  height: 218px;
  position: relative;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Pause on hover
.carouselContainer:hover .carouselTrack {
  animation-play-state: paused;
}
