.news {
  max-width: 730px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    color: var(--color-text-dark);
    font-weight: var(--font-weight-medium);
    margin-bottom: 0.5rem;
  }
  @media screen and (max-width: 968px) {
    margin: 4rem auto;
  }
}

.newsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--color-background-offWhite);
  p {
    color: var(--color-text-dark);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
  }

  a {
    background-color: var(--color-brand-secondary);
    color: var(--color-text-white);
    padding: var(--spacing-15);
    width: fit-content;
    border: none;
    border-radius: 8px;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--color-brand-third);
    }

    @media (max-width: 450px) {
      padding: var(--spacing-10);
    }
  }

  @media (max-width: 450px) {
    padding: var(--spacing-10);
  }
}
